<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-about {% if page.current == 'about' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}about">About</a></li>
        <li class="nav-research {% if page.tag contains 'research' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/research">Research</a></li>
        <li class="nav-wordpress {% if page.tag contains 'zariuq.wordpress' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}tag/zariuq.wordpress">Old Blog</a></li>
        <li class="nav-author {% if page.current == 'author' %} nav-current{% endif %}" role="presentation"><a href="{{ site.baseurl }}author/zar">Author</a></li>
        <li role="presentation"><a href="http://jagatsahaya.weebly.com/">CZAR</a></li>
        <li role="presentation"><a href="https://gardenofminds.art/">Next Blog: Garden of Minds</a></li>
    </ul>
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a>
</div>
<span class="nav-cover"></span>
