---
layout: default
class: 'page-template'
---
<!-- < default -->

<!-- This is a page template. A page outputs content just like any other post, and has all the same -->
    <!-- attributes by default, but you can also customise it to behave differently if you prefer.  -->

<!-- Everything inside the #post tags pulls data from the page -->
<!-- #post -->

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}){% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %}overlay{% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
</header>

<main class="content" role="main">
    <article class="post">
        <!-- Everything inside the #post tags pulls data from the post -->

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>

        <section class="post-content">
            {{ content }}
        </section>

    </article>

</main>
<!-- /post -->
